<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Dashboard</h1>
    <ul>
        <li><a href="{{ url_for('health') }}">Health Services</a></li>
        <li><a href="{{ url_for('education') }}">Education Services</a></li>
        <li><a href="{{ url_for('transportation') }}">Transportation Services</a></li>
        <li><a href="{{ url_for('finance') }}">Finance Services</a></li>
        <li><a href="{{ url_for('government') }}">Government Services
        <li><a href="{{ url_for('government') }}">Government Services</a></li>
        <li><a href="{{ url_for('housing') }}">Housing Services</a></li>
    </ul>
</body>
</html>
    










